[build]
  base = "frontend"
  command = "npm run build"
  publish = "dist"
  ignore = "git diff --quiet $CACHED_COMMIT_REF $COMMIT_REF ."

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
